<div class="">
    <div class="thumbnail">
        <img src="/assets/images/cities/london.jpg" alt="">
        <div class="slogan">Terms and Conditions</div>
    </div>
    <div class="container p-2">
        <div class="row">
            <div class="col-xs-12">
                <h4>1. INTRODUCTION</h4>
                <p>
                    1.1 Please note to use the Service Users must accept these Terms which should be
                    read carefully prior to using the Service. These Terms represent a binding contract
                    between DesignMyNight and the User. If the User does not wish to be bound by these Terms,
                    the User should not accept these Terms.
                </p>

                <h4>2. COMMENCEMENT OF TERMS’ APPLICABILITY</h4>
                <p>
                    These Terms shall be effective from the time that the User first registers to use the
                    Website and/or uses the Service. These Terms and shall remain in
                    force until or unless terminated in accordance with these Terms.
                </p>
                <h4>3. COMMENCEMENT OF TERMS’ APPLICABILITY</h4>
                <p>
                    These Terms shall be effective from the time that the User first registers to use the
                    Website and/or uses the Service. These Terms and shall remain in
                    force until or unless terminated in accordance with these Terms.
                </p>
                <h4>4. VARIATION OF TERMS</h4>
                <p>
                    DesignMyNight may vary these Terms at any time. Such variations shall become effective
                    immediately upon the posting of the modified Terms on the Website or notification to the User,
                    as DesignMyNight shall decide. By continuing to use the Service following any such variation
                    the User shall be deemed to accept such variation
                </p>
                <h4>5. USE OF THE SERVICE BY THE USER</h4>
                <p>
                    5.1. The User shall be responsible for obtaining and maintaining
                    the User's Equipment. DesignMyNight has no responsibility or
                    liability with respect to the User's Equipment.
                </p>

                <p>
                    5.2. The User shall ensure at all times that its use of any part of the Service,
                    including connection of the User's Equipment to the Server, is
                    in accordance with all applicable data protection and other laws, licences, codes of practice and
                    regulations.
                </p>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
            </div>
        </div>
    </div>
</div>