.searchInput{
    font-family: poppins;
    width: 100%;
    height: 39px;
    border: 1px solid;
    font-size: 15px;
    padding: 0px 15px;
    font-weight: 400;
    border-radius: 5px;
}
.searchContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 15px 0px;
}