<div class="aboutusContainer  mb-5">
    <div class="col-md-12 mb-5">
        <div class="text-center">
            <h2 class="poppins_regular">Who we <label class="poppins_bold">are</label> </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="/assets/images/about/Screenshot 2023-01-19 at 16.42.43.png" alt="location" class="h-100 w-100 aboutusImg ">

            </div>
            <div class="col-md-6">
                <p class="poppins_regular">Meet a not-so-typical couple, a Bengali husband and a Bolivian wife who met in London and got married 30 years ago. As a mixed couple, Giovanna and Taiyab  found it challenging to find halal or halal-friendly restaurants that met both of their requirements. 
                </p>
                <p class="poppins_regular">After 20 years of working in the hospitality industry and experiencing this struggle firsthand, they decided to launch Dine Out Halal, a platform that makes it easy for people to find halal or halal-friendly restaurants near them. With Dine Out Halal, finding a place to eat that fits everyone’s needs is now a breeze.</p>
            </div>
        </div>
    </div>

   
</div>