<!-- <div class="">
    <div class="thumbnail">
        <img src="/assets/images/cities/london.jpg" alt="">
        <div class="slogan">PRIVACY POLICY AND COOKIES</div>
    </div>
    <div class="container p-2">

        <div class="row">
            <div class="col-xs-12">
                <h4>ABOUT US                </h4>
                <p>
                    DesignMyNight is owned by Access UK Limited. It is a company incorporated in
                    England and Wales, (no. 2343760) and whose registered address is Access UK Ltd.,
                    The Old School, Stratford St. Mary, Colchester, Essex, CO7 6LZ, United Kingdom. VAT no. GB
                    108221356.
                </p>

                <h4>2. HOW WE USE YOUR INFORMATION</h4>
                <p>
                    Access UK Ltd is a Processor of customer information and we take your privacy seriously.

                    As the UK is not longer considered a member state of the EU – Access have introduced EU Standard
                    Contractual Clauses into our Terms and Conditions to enable us to continue to process your data

                    Our Legal basis for processing client data is Contractual for the following activities

                    We receive data uploaded to the service by users where it is stored in a cloud environment or on
                    premise
                    in accordance with the options selected by customers. Users may instruct the service to share some
                    or
                    all of the data with other users or groups/classes of users.
                    We process the customer’s personal data to enable them to access and use the service, provide
                    support
                    and maintenance services
                    We use personal information to communicate with clients in relation to service announcements, and
                    product/service information.
                    We use personal information to send Customer Feedback information following visits and bookings
                    We use personal information to conduct Customer Surveys
                    Our legal basis for processing client data is Legitimate interest for the following activities:

                    Sending offers, sharing news and events and information regarding any purchases or bookings
                    Your data will be processed in line with the Principles and Rights of The General Data Protection
                    regulation and in line with the UK Data Protection Act 2018.

                    You also have the right to withdraw consent where it has been provided and we will no longer send
                    you
                    information related to those subjects, which may mean you cannot not be informed about our latest
                    events, offers and venues.
                </p>
                <h4>3. DISCLOSURE</h4>
                <p>
                    We also use MailChimp for communications. They are located in the USA but they have certified to the
                    EU-U.S. Privacy Shield Framework and Swiss-U.S. Privacy Shield Framework and are therefore deemed as
                    having adequate controls by the EU supervisory authority for GDPR

                    Your information will not otherwise be transferred out of the UK/European Union without your prior
                    consent; we will not share your personal data.

                    By subscribing to our newsletter, this will mean receiving our weekly newsletters that include a
                    "Top 5
                    events of the week", "Weekly round up" "Lightbulb" and "Top 5 things this weekend"
                </p>
                <h4>4. STORAGE & DISPOSAL</h4>
                <p>
                    Your information will be stored in an encrypted database in the UK/EU and will be retained for 6
                    years.
                    However you may ask for this to be deleted in accordance with the Rights of Privacy Legislation by
                    contacting gdpr-requests@designmynight.com
                </p>
                <h4>5. COOKIES</h4>
                <p>
                    When you visit our website, we may automatically collect non-personal information about you, such as
                    the
                    type of browser you use and the way you arrived at our website (either a direct visit or via some
                    referring website). The collection of this information may involve the use of cookies and web
                    beacons. A
                    web beacon is a small graphic image placed on a web page that is designed to allow us to monitor
                    traffic
                    on the website. A cookie is a small text file that is placed on your computer's hard drive by your
                    web
                    browser when you first visit the website.

                    You cannot be identified from the information collected in this way on its own and it is only used
                    to
                    assist us in providing an effective service on our website and to collect broad demographic
                    information
                    for aggregate use and to improve the website.

                    Most browsers accept cookies automatically. You can erase or block cookies from your computer if you
                    want to, but certain services may not work correctly or as fast or at all if you set your browser
                    not to
                    accept cookies
                </p>

                <h4>5. CONTACT INFORMATION</h4>
                <p>
                    Our Information Security/ Data Protection Manager can be contacted at -
                    Information.Security@theaccessgroup.com
                </p>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
            </div>
        </div>
    </div>
</div> -->
<div class="container  mb-5">
    <div class="col-md-8 m-auto mb-5">
        <div class="text-center">
            <h2 class="poppins_regular mb-5">PRIVACY <label class="poppins_bold">POLICY</label> </h2>
            <p>This Privacy Notice relates to the Dineouthalal website and
                associated services will process your personal data.</p>
        </div>
        <h3 class="poppins_bold">ABOUT US</h3>
        <p>We are DINEOUTHALAL LTD, a company incorporated in England and
            Wales, registration <b>1475516</b>. We are registered with the UK’s
            Information Commissioner’s Office (ICO).</p>
        <h3 class="poppins_bold">HOW WE USE YOUR INFORMATION </h3>
        <p><b>Personal information we collect directly from you.</b> As you visit or use our
            Services, we collect the following categories of personal information
            directly from you:</p>
        <ul>
            <li><b>Personal details </b> (such as your name and birthday) </li>
            <li><b>Contact information</b> (such as email address, postal address, phone number)</li>
            <li><b>Dining information</b> (such as primary dining city; current and past restaurant reservation details;
                dining preferences; favorite restaurants; special restaurant requests; dining activity, including
                frequency, restaurants, restaurant type, meal type, and cancellations)</li>
            <li><b>Account information</b> (such as account settings and passwords)</li>
            <li><b>Social media data </b> (if you choose to link your Dineouthalal account with a social media account,
                we may collect personal information such as name, age, gender, photograph, and other personal
                information relating to your social media account) </li>
            <li><b>Billing information </b>(such as credit, debit, or other payment card information, as may be required
                to use certain Services) </li>
            <li><b>Your contacts</b> (such as contact information of people you add to, or notify of, your restaurant
                reservations through our Services) </li>
            <li><b>Your preferences </b> (including survey and marketing responses) </li>

            <li><b>Photos of you </b> (such as if you add a photo of yourself to your profile,
                upload photos to a review or restaurant’s profile, or link your social media
                account to your OpenTable account) </li>
            <li><b>Communications you send us </b> (such as customer support, messages or communications to us or with
                restaurants through our app or other platforms, and other requests you make through our Services and
                through restaurants) </li>
            <li><b>Restaurant reviews and content </b> (including reviews, photos, an alias of your choosing that you
                can use when submitting reviews, and other information you provide through our Services) </li>

            <li><b>Promotion information </b> (if you choose to participate in a contest,
                sweepstakes, or similar campaign, we will collect any information you
                provide in relation to such activity, such as photos, images, captions, or
                other content, in accordance with the terms provided at that time)
            </li>

            <li><b>Other information you may provide </b> (including other information you
                provide about yourself or others through our Services or to which you
                provide us with access via third-party platforms)</li>
        </ul>

        <p>You may choose not to provide some of the personal information
            described above. Please note, however, that many of our Services require
            some personal information to operate, so if you choose not to provide the
            personal information necessary to operate and provide you with a
            particular Service or feature of that Service, you may not be able to use
            that Service or feature.</p>

        <h3 class="poppins_bold">LAWFUL BASIS</h3>
        <p>Our lawful basis of processing your data is legitimate interests. The
            legitimate interests pursued are:
        </p>
        <ul>
            <li>Communicating information about the DINEOUTHALAL services; </li>
            <li>Communicating information about bars, pubs, restaurants and
                other events etc., that may be of interest to you; and
                Direct marketing regarding related DINEOUTHALAL services. </li>
        </ul>
        <h3 class="poppins_bold">SHARING OF YOUR PERSONAL DATA</h3>
        <p>We use a limited number of trusted third parties to help deliver the
            DINEOUTHALAL website and associated services</p>
        <p>These include:</p>
        <ul>
            <li>Google hosting; </li>
            <li>Klaviyo, an email service provider for sending opt-in marketing emails.</li>
            <li> Trustpilot A/S, to invite you to review DINEOUTHALAL so we can
                collect your feedback and improve our services.
            </li>
        </ul>
        <p>Where you use our booking service, we will share your data with that
            relevant event organiser, bar, pub, restaurant etc., (as applicable).
            Where we will be sharing your data with any other third parties, we
            will make this clear as part of the booking process.</p>
        <h3 class="poppins_bold">OTHER INFORMATION YOU SHOULD KNOW</h3>
        <p>There is no automated decision-making or profiling carried out
            using your personal data.</p>
        <h3>YOUR RIGHTS </h3>
        <p>Your data is processed in line with the principles and data subject’s
            rights mandated by the EU and UK’s General Data Protection
            Regulation and relevant national data protection laws (the ‘Data
            Protection Legislation’).</p>
        <p>These are as follows:</p>
        <ul>
            <li>the right to be informed about the collection and the use of their
                personal data;
            </li>
            <li>the right to access personal data and supplementary
                information;
            </li>
            <li> the right to have inaccurate personal data rectified, or
                completed if it is incomplete;</li>
            <li>the right to erasure (to be forgotten) in certain circumstances;
            </li>
            <li> the right to restrict processing in certain circumstances;
            </li>
            <li>the right to data portability, which allows the data subject to
                obtain and reuse their personal data for their own purposes
                across different services; </li>
            <li>the right to object to processing in certain circumstances; </li>
            <li>rights in relation to automated decision making and profiling;</li>
            <li>the right to withdraw consent at any time (where relevant); and </li>
            <li>the right to complain to the supervisory authority</li>
        </ul>
        <h3 class="poppins_bold">YOUR RIGHT TO BE FORGOTTEN</h3>
        <p>If you want us to delete your data, please contact<br>
            support@dineouthalal.com.
        </p>
        <h3 class="poppins_bold">YOUR RIGHT TO COMPLAIN
        </h3>
        <p>If you feel we have not processed your data in accordance
            with Data Protection Legislation, we welcome the opportunity to
            discuss this with us by contacting the DPO.
            You may-however raise a complaint with the relevant supervisory
            authority (either in the first instance, or after contact with us on the
            matter).
        </p>
        <h3>
            CONTACT INFORMATION

        </h3>
        <a href="support@dineouthalal.com">
            <p>support@dineouthalal.com</p>

        </a>

    </div>


</div>