<footer class="footer">
    <div class="footerContainer">
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-5">
                        <img src="/assets/images/dashboard/logo.png" alt="Logo" class="">
                        <div class="text-container">
                            <p class="mt-3 mb-3">Dine Out Halal, a platform that makes it easy for people to find halal
                                or halal-friendly restaurants near them. With Dine Out Halal, finding a place to eat
                                that fits everyone’s needs is now a breeze.</p>

                        </div>

                    </div>
                    <div class="col-md-3 ">
                        <h2 class="poppins_semibold">Help</h2>
                        <ul>

                            <li class="poppins_light"> How It Works</li>
                            <a routerLink="/privacy-policy">
                                <li class="poppins_light">Privacy Policy</li>

                            </a>
                            <a  routerLink="/contact-us" >

                            <li class="poppins_light">Customer Service</li>
                            </a>
                            <a  routerLink="/contact-us" >

                            <li class="poppins_light"> Support Center</li>
                            </a>
                            <a routerLink="/ambassador">
                                <li class="poppins_light">Ambassador Program</li>

                            </a>
                            <a [routerLink]="['/register']" [queryParams]="{vendor: 'true'}" class="text-primary">
                                <li class="poppins_light"> join as a restaurant </li>
                            </a>

                        </ul>

                    </div>
                    <div class="col-md-4 ">
                        <h2 class="poppins_semibold">Subscribe With Us</h2>
                        <p class="poppins_light">Subscribe to our mailing list to get the new updates!</p>
                        <input placeholder="Enter Your Email Address"> <br>
                        <button class="poppins_semibold">SUBSCRIBE NOW</button>

                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <a href="{{facebookUrl}}" target="_blank" >

                            <div class="socialmediaContainer fb">
                                <img src="/assets/images/socialmedia/fb.png" alt="fb" class="">

                            </div>
                            </a>
                            <!-- <div class="socialmediaContainer google">
                                <img src="/assets/images/socialmedia/google.png" alt="google" class="">

                            </div>
                            <div class="socialmediaContainer twitter">
                                <img src="/assets/images/socialmedia/twitter.png" alt="twitter" class="">

                            </div> -->
                            <a href="{{youtubeUrl}}" target="_blank" >
                                <div class="socialmediaContainer tiktok">
                                    <img style="height:15px" src="/assets/images/socialmedia/tiktok-xxl.png" alt="tiktok" class="">
    
                                </div>
                            </a>
                            <a href="{{instagramUrl}}" target="_blank" >

                            <div class="socialmediaContainer insta">
                                <img src="/assets/images/socialmedia/insta.png" alt="insta" class="">

                            </div>
                            </a>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footerbottom">
        <div class="container">
            <p class="poppins_regular">© Copyright 2023 <label>Dineouthalal</label> . All Rights Reserved
            </p>

        </div>
    </div>
    <!-- <section class="footer__main">
        <div class="container">
            <section class="row">
                <div class="col-sm-3">
                    <section class="row">
                        <div class="col-sm-12 border-bottom-primary-light-xs margin-bottom-10">
                            <h4 class="heading">Dine Out Halal contact info</h4>

                            <address class="hidden-xs">

                                DineOutHalal<br>
                                11 Hoxton Square<br>
                                London<br>
                                N16NU<br>
                            </address>

                            <ul class="social-icons list-inline text-center-xs d-inline-flex">
                                <li>
                                    <a ga-track-event="['social', 'open', 'Facebook']" target="_blank"
                                        class="fa-stack fa-stack-primary-light" aria-label="Facebook"
                                        href="http://www.facebook.com/pages/dineouthalal/103789106345164?ref=sgm"
                                        title="Facebook" rel="noopener">
                                        <i class="fa fa-fw fa-stack-2x fa-circle fa-back" aria-hidden="true"></i>
                                        <i class="fa fa-fw fa-stack-1x fa-facebook fa-front" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a ga-track-event="['social', 'open', 'Twitter']" target="_blank"
                                        class="fa-stack fa-stack-primary-light" aria-label="Twitter"
                                        href="http://www.twitter.com/dineouthalal" title="Twitter" rel="noopener">
                                        <i class="fa fa-fw fa-stack-2x fa-circle fa-back" aria-hidden="true"></i>
                                        <i class="fa fa-fw fa-stack-1x fa-twitter fa-front" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a ga-track-event="['social', 'open', 'Instagram']" target="_blank"
                                        class="fa-stack fa-stack-primary-light" aria-label="Instagram"
                                        href="https://instagram.com/dineouthalal/" title="Instagram" rel="noopener">
                                        <i class="fa fa-fw fa-stack-2x fa-circle fa-back" aria-hidden="true"></i>
                                        <i class="fa fa-fw fa-stack-1x fa-instagram fa-front" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a ga-track-event="['social', 'open', 'Pinterest']" target="_blank"
                                        class="fa-stack fa-stack-primary-light" aria-label="Pinterest"
                                        href="https://uk.pinterest.com/dineouthalal/" title="Pinterest" rel="noopener">
                                        <i class="fa fa-fw fa-stack-2x fa-circle fa-back" aria-hidden="true"></i>
                                        <i class="fa fa-fw fa-stack-1x fa-pinterest fa-front" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a ga-track-event="['social', 'open', 'YouTube']" target="_blank"
                                        class="fa-stack fa-stack-primary-light" aria-label="YouTube"
                                        href="https://www.youtube.com/channel/UCp-KY6nc_1Wz2pktxa2yQdw" title="YouTube"
                                        rel="noopener">
                                        <i class="fa fa-fw fa-stack-2x fa-circle fa-back" aria-hidden="true"></i>
                                        <i class="fa fa-fw fa-stack-1x fa-youtube fa-front" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-sm-12 border-bottom-primary-light-xs">
                            <p>Secure payments via <a target="_blank" href="https://stripe.com/gb"
                                    rel="noopener">Stripe</a></p>
                        </div>

                        <div class="col-sm-12 border-bottom-primary-light-xs margin-bottom-10">
                            <h5 class="widget-title">Go mobile</h5>
                            <div class="mobile-apps">
                                <ul class="list-inline d-flex">
                                    <li class="p-1"><a href="#"><img src="../assets/images/brand-logo/apple-logo.png"
                                                alt=""></a></li>
                                    <li class="p-1"><a href="#"><img src="../assets/images/brand-logo/google-apps.png"
                                                alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="col-sm-3">
                    <section class="row">
                        <div class="col-sm-12">
                            <h4 class="heading">Useful links</h4>

                            <ul class="list-unstyled">
                                <li><a routerLink="/home" title="Home">Home</a></li>
                                <li><a routerLink="/about-us" title="About Us">About Us</a></li>
                                <li><a routerLink="/contact-us" title="Contact Us">Contact Us</a>
                                </li>
                            </ul>
                            <ul class="links pull-left list-inline">
                                <li>
                                    <a target="_blank" rel="noopener" routerLink="/terms-conditions"
                                        title="Terms and Conditions">
                                        Terms &amp; Conditions
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" rel="noopener" routerLink="/privacy-polices-cookies"
                                        title="Privacy Policy">
                                        Privacy Policy &amp; Cookies
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" rel="noopener" routerLink="/faqs"
                                        title="Frequently Asked Questions">FAQs</a>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>

                <div class="col-sm-6">
                    <section class="row">
                        <div class="col-sm-12">
                            <section class="row">
                                <div class="col-sm-12">
                                    <h4 class="heading">Work with Us</h4>
                                    <p>Discover our solutions for the hospitality and events industry. We're here to
                                        help.</p>
                                </div>
                            </section>

                            <section class="row">
                                <div class="col-sm-6">
                                    <h4 class="heading">
                                        <a href="#" title="Promote Your Venue">Promote your venue</a>
                                    </h4>
                                    <p>Get listed and instantly get your venue out to millions. We can drive bookings
                                        direct to your
                                        venue.</p>
                                </div>

                                <div class="col-sm-6">
                                    <h4 class="heading">
                                        <a href="#" rel="noopener" title="DOH bookings software">
                                            DOH bookings software
                                        </a>
                                    </h4>
                                    <p>DOH is the solution to manage all your real-time bookings in one place.</p>
                                </div>
                            </section>
                        </div>
                    </section>

                    <section class="row">
                    </section>
                </div>
            </section>
        </div>
    </section>

    <section class="footer__secondary">
        <div class="container">
            <section class="row">
                <div class="col-sm-12">
                    <div class="pull-right">
                        <a href="https://www.dineouthalal.com/about" title="Made by the dineouthalal Team">
                            Made with love
                            <i class="fa fa-heart text-danger " aria-hidden="true"></i>
                        </a> by dineouthalal
                        © All rights reserved 2021
                    </div>
                </div>
            </section>
        </div>
    </section> -->
</footer>